.flex-container{
    border: 2px solid rgb(243, 0, 0);
    height: 250px;
    width: 400px;
    padding: 10px;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.flex-item{
    background-color: rgb(244, 255, 127);
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid rgb(198, 198, 78);
    text-align: center;
    flex: 1 1 10px;
    align-self: flex-end;
}